<a href="https://colab.research.google.com/github/duhajarrar/FraudDetectionMLProject/blob/master/tryML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description of Data

In [43]:
import pandas as pd
import math 
#datafile1=pd.read_csv('/content/drive/My Drive/creditcard.csv')
datafile=pd.read_csv('creditcard.csv')
#print(datafile1.isnull().sum())
print("(Records , Columns ) :",datafile.shape)
print("Columns :")
print(datafile.columns)

(Records , Columns ) : (152629, 31)
Columns :
Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [44]:
print("Count of non null records in Columns :")
datafile.info()

Count of non null records in Columns :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152629 entries, 0 to 152628
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    152629 non-null  int64
 1   V1      152629 non-null  float64
 2   V2      152629 non-null  float64
 3   V3      152629 non-null  float64
 4   V4      152629 non-null  float64
 5   V5      152629 non-null  float64
 6   V6      152629 non-null  float64
 7   V7      152629 non-null  float64
 8   V8      152628 non-null  float64
 9   V9      152628 non-null  float64
 10  V10     152628 non-null  float64
 11  V11     152628 non-null  float64
 12  V12     152628 non-null  float64
 13  V13     152628 non-null  float64
 14  V14     152628 non-null  float64
 15  V15     152628 non-null  float64
 16  V16     152628 non-null  float64
 17  V17     152628 non-null  float64
 18  V18     152628 non-null  float64
 19  V19     152628 non-null  float64
 20  V20     152628 non-null  float64
 21  V21     152628 non-null  float64
 22  V22     152628 non-null  float64
 23  V23     152628 non-null  float64
 24  V24     152628 non-null  float64
 25  V25     152628 non-null  float64
 26  V26     152628 non-null  float64
 27  V27     152628 non-null  float64
 28  V28     152628 non-null  float64
 29  Amount  152628 non-null  float64
 30  Class   152628 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 36.1 MB

In [45]:
print(datafile.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [86]:
datafile.fillna(datafile.mean())

0         0.098698
1         0.085102
2         0.247676
3         0.377436
4        -0.270533
            ...
152624    0.212851
152625    0.205074
152626    0.147540
152627    0.133057
152628    0.053334
Name: V8, Length: 152629, dtype: float64

# Decision Trees